body {
  background: url("./images/bg.jpg") no-repeat;
  background-position: 100% 0;
}

// UTILITY
.btn {
  border: none;
  padding: 1em;
  color: #fff;

  &--submit {
    background: rgb(8, 206, 8);
  }
  &--delete {
    background: rgb(151, 41, 41);
    padding: 5px;
  }
}

.todo__container {
  margin: 20em auto;
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  align-items: center;
}
